.cards, .decks {
    margin: 10px;
}
.deck {
    text-decoration: bold;
    text-shadow: 2px 2px #ffffff;
    background: #FAFAF8;
}
.decks a, .cards a {
    text-decoration: none;
}
.deck, .card {
    border: 0px solid black;
    border-radius: 10px;
    padding: 10px;
    height: 320px;
    width: 220px;
    margin: 10px;
    list-style: none;
    box-shadow: 2px 2px grey;
    display: inline-flex;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.deck .content, .card .content {
    height: 80%;
}
.deck .modifiers, .card .modifiers {
    list-style: none;
    float: right;
    font-weight: bold;
}
.prompt-card {
    background-color: black;
    color: white;
}
.response-card {
    background-color: #FAFAF8;
    color: black;
}

.response-card:hover {
    border: 1px solid grey;
    box-shadow: 2px 2px black;
    cursor: pointer;
}